*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }
 
 :root {
     --mainBG: #e7ae75;
 }
 
 body {
     margin: 0;
     height: 100vh;
     // background: var(--mainBG);
     background-repeat: no-repeat;
     background-attachment: fixed;
     font-family: 'Oswald', sans-serif;
     background: linear-gradient(180deg, var(--mainBG) 0%, #e47ca4 100%);
 }
 
 header {
     background: white;
     display: flex;
     padding: 1em 0;
     justify-content: center;
     align-items: center;
 }

 input {
    width: 100%;
    height: 2.5em;
  }
 
 .formsSection {   
    .signup, .signin {
      width: 200px;
      margin: 50px auto;
      display: flex;
      padding: 2em 0 2.5em;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      grid-gap: 15px;
      border-radius: 1em;
      color: rgb(52, 52, 52);
      transition: 150ms ease-in-out;
      border: 1px solid var(--mainBG);
      background: rgba(255, 255, 255, 0.423);

      form {
        display: flex;
        grid-gap: 5px;
        flex-direction: column;   
      }
    }
 }

 form {
  &#signedin {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    input {
      width: 100%;
    }
  }
 }

 input {
  border-radius: 8px;
  border-style: none;
  width: 170px;
  padding: 15px;
  &[type="submit"] {
    padding-bottom: 30px;
  }
 }
 
 .profileSection {
     display: flex;
     color: white;
     padding: 15px;
     flex-direction: column;
     grid-gap: 15px;

     .signedInTop {
         display: flex; 
         justify-content: space-between;
         align-items: center;
     }

     .signedin {
      padding: 20px 50px;
      display: flex;
     }
 }

 .divider {
    border-bottom: 1px solid #888989;
    padding: 2px 0;
    margin: 0px 0;
  }

/* create account button */
.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  width: 140px;	
  align-items: center;	
  line-height: 1px;	
  list-style: none;	
  margin: 5px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #e86195;
}

/* submit button */
.button-2 {
    background-color: #4c4cea;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    border-radius: 8px;
    border-style: none;
    font-size: 14px;
    font-weight: 500;
    height: 30px;
    width: 170px;
    align-items: center;
    line-height: 1px;
    list-style: none;
    margin: 5px;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-2:hover,
  .button-2:focus {
    background-color: #5f5fe9;
  }

  /* already have an account button */
  .button-3 {
    background-color: #ee9338;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    width: 140px;
    align-items: center;
    line-height: 1px;
    list-style: none;
    margin: 5px;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-3:hover,
  .button-3:focus {
    background-color: #ed9f52;
  }